* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height: 100vh;
  line-height: 1.5;
  color: #333;
  font-family: sans-serif;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.show-modal {
  border: none;
  padding: 2rem;
  margin: 5rem 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 10rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.close-modal {
  border: none;
  font-size: 5rem;
  color: #444;
  background: none;

  position: absolute;
  top: 1.1rem;
  right: 2rem;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);

  padding: 6rem;
  background-color: #fff;
  width: 60%;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

h1 {
  font-weight: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.hidden {
  display: none;
}

.overly {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  /* filter: blur(2px); */
  backdrop-filter: blur(4px);
}
